@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    background-image: url(../img/line.svg);
    background-repeat: repeat-y;
    background-position: center;
    font-size: 22px;
    line-height: 1.5;
    color: #4D5053;
    min-width: 375px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.bg {
    background-color: #F4F0EC;
}

.title {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    line-height: 1.25;
    font-weight: 400;
    color: #292F36;
    margin-top: 0;
}

.btn-primary {
    display: inline-block;
    padding: 26px 61px 26px 31px;
    background-color: #292F36;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    position: relative;
    transition: .2s;
}

.btn-primary::after {
    content: '';
    background-image: url(../img/arrow.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 18px;
    position: absolute;
    right: 31px;
    top: calc(50% - 9px);
    transition: .2s;
}

.btn-primary:hover {
    background-color: #CDA274;
}

.btn-primary:hover::after {
    background-image: url(../img/arrow-dark.svg);
}

.page {
    padding-top: 178px;
    padding-bottom: 178px;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 34px;
}

.header__nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.header__item {
    margin-left: 48px;
}

.header__item:first-child {
    margin-left: 0;
}

.header__item:last-child {
    margin-left: 30px;
}

.header__link {
    color: #292F36;
    font-size: 20px;
    text-decoration: none;
    transition: .2s;
}

.header__link:hover {
    color: #CDA274;
}

.header__search {
    padding: 0;
    background: transparent;
    border: none;
    display: flex;
    cursor: pointer;
}

.header__menu {
    display: none;
    width: 52px;
    height: 52px;
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Hero */

.hero {
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0 30vh;
    height: calc(100vh - 145px);
    min-height: 400px;
    max-height: 1042px;
    display: flex;
    align-items: center;
    margin-bottom: 198px;
}

.hero>.container {
    flex-basis: 100%;
}

.hero__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
}

.hero__title {
    font-family: 'DM Serif Display', serif;
    font-size: 85px;
    line-height: 1.25;
    font-weight: 400;
    color: #292F36;
    margin-top: 0;
}

.hero__title,
.hero__text {
    max-width: 600px;
}

/* About */

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
}

.about__text {
    flex-grow: 1;
    flex-basis: calc(100% - 700px);
}

.about__thumb {
    position: relative;
    overflow: hidden;
    flex-basis: 700px;
    height: 653px;
    border-radius: 0 326px 0px 123px;
}

.about__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.about-phone {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 45px;
    margin-bottom: 47px;
}

.about-phone__icon {
    background-color: #F4F0EC;
    width: 93px;
    height: 93px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-phone__icon::after {
    content: '';
    background-image: url(../img/tel.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
}

.about-phone__text>p {
    margin: 0;
}

.about-phone__text>p:first-child {
    font-weight: 700;
    font-size: 24px;
}

.about-phone__text>p>a {
    color: inherit;
    text-decoration: none;
}

/* Swiper */

.swiper-feedback {
    margin-top: 200px;
}

.swiper-feedback__slide {
    text-align: center;
    background-color: #F4F0EC;
    border-radius: 70px;
    padding: 88px 225px 182px;
    box-sizing: border-box;
}

.swiper-feedback__text {
    font-family: 'DM Serif Display', serif;
    font-size: 35px;
    line-height: 1.25;
    font-style: italic;
    color: #292F36;
    margin-top: 90px;
    margin-bottom: 34px;
}

.swiper-feedback__text::before {
    content: '';
    background-image: url(../img/quote.svg);
    display: block;
    width: 31px;
    height: 23px;
    margin: 0 auto 27px;
}

.swiper-feedback__author {
    font-size: 25px;
    text-transform: uppercase;
}

.swiper-feedback__next {
    right: 92px;
}

.swiper-feedback__prev {
    left: 92px;
}

.swiper-feedback__next,
.swiper-feedback__prev {
    background-color: #FFF;
    width: 52px;
    height: 52px;
    border-radius: 100%;
}

.swiper-feedback__next::after,
.swiper-feedback__prev::after {
    content: '';
    background-image: url(../img/arrow-btn.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    width: 8px;
    height: 16px;
}

.swiper-feedback__prev::after {
    transform: rotate(180deg);
}

/* Brands */

.brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Statistic */

.stat {
    padding-top: 151px;
    padding-bottom: 151px;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.stats__item {
    flex-basis: 25%;
    padding: 0 15px;
    position: relative;
}

.stats__item::after {
    content: '';
    display: block;
    width: 1px;
    height: 130px;
    background-color: #CDA274;
    position: absolute;
    right: 0;
    top: calc(50% - 65px);
}

.stats__item:last-child::after {
    display: none;
}

.stats__item p {
    margin-top: 0;
}

.stats__item span {
    display: block;
    font-family: 'DM Serif Display', serif;
    font-size: 85px;
    color: #CDA274;
}

/* Article */

.article__title,
.article__text {
    text-align: center;
}

.article__title {
    margin-bottom: 12px;
}

.article__text {
    max-width: 800px;
    margin: 0 auto;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 27px;
    margin-top: 52px;
}

.article-main {
    margin-bottom: 150px;
}

.articles__item,
.article-main__item {
    border: 1px solid #E7E7E7;
    border-radius: 62px;
    padding: 21px 21px 37px 21px;
    background-color: #FFF;
    transition: .4s;
}

.articles__item:hover,
.article-main__item:hover {
    background-color: #F4F0EC;
}

.article-main__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4vw;
}

.article-main__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 478px;
    border-radius: 50px;
}

.article-main__content {
    padding: 0 34px 0 0;
}

.articles__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 290px;
    border-radius: 45px 45px 0 0;
}

.articles__img,
.article-main__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.articles__tag {
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    background: #FFFFFF;
    border-radius: 8px 8px 8px 0px;
    padding: 11px;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.articles__title,
.article-main__title {
    font-family: 'DM Serif Display', serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #292F36;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 260px;
}

.article-main__title {
    max-width: 100%;
}

.articles__title a,
.article-main__title a {
    color: inherit;
    text-decoration: none;
}

.articles__info,
.article-main__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles__date,
.article-main__date {
    font-size: 16px;
}

.articles__link,
.article-main__link {
    flex-basis: 52px;
    height: 52px;
    background-color: #F4F0EC;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.articles__link::after,
.article-main__link::after {
    content: '';
    background-image: url(../img/arrow-btn.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    display: block;
    width: 8px;
    height: 16px;
}

.articles__item:hover .articles__link,
.article-main__item:hover .article-main__link {
    background-color: #FFFFFF;
}

/* Subscribe */

.subscribe {
    background-color: #292F36;
    border-radius: 70px;
    text-align: center;
    color: #FFFFFF;
    padding: 80px;
}

.subscribe .title {
    color: #FFFFFF;
}

.subscribe-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
}

.subscribe-box__input {
    flex-basis: calc(100% - 136px);
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #ffffff;
    border-radius: 18px 0 0 18px;
    padding: 26px 20px 27px 20px;
}

.subscribe-box__input:focus {
    outline: none;
}

.subscribe-box__input::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    color: #98a2b3;
}

.subscribe-box__btn {
    flex-basis: 136px;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    color: #FFF;
    font-weight: 600;
    border-radius: 0 18px 18px 0;
    padding: 28px 20px 27px 20px;
    background-color: #CDA274;
    border: none;
    border-left: 1px solid transparent;
    cursor: pointer;
    transition: .2s;
}

.subscribe-box__btn:hover {
    color: #CDA274;
    background-color: #FFF;
    border-left: 1px solid #CDA274;
}

/* Contact */

.contact .title {
    text-align: center;
    max-width: 634px;
    margin: 0 auto;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 57px 40px;
    max-width: 796px;
    margin: 76px auto 0;
}

.contact-form__input,
.contact-form__textarea {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    padding-bottom: 13px;
    transition: .2s;
}

.contact-form__input:focus,
.contact-form__textarea:focus {
    outline: none;
    border-bottom: 1px solid #CDA274;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.contact-form__textarea,
.contact-form__btn,
.contact-form__checkbox {
    grid-column: 1 / 3;
}

.contact-form__textarea {
    height: 158px;
    resize: none;
}

.contact-form__btn {
    text-align: center;
    padding-top: 18px;
}

.post__form .contact-form__btn {
    text-align: left;
}

.contact__form .contact-form__btn {
    text-align: right;
}

.checkbox:checked,
.checkbox:not(:checked) {
    position: absolute;
    left: -9999px;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
    font-size: 18px;
    color: #CDA274;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.checkbox:checked+label::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 10px);
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #CDA274;
}

.checkbox:checked+label::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 1;
    left: 4px;
    top: calc(50% - 6px);
    background-color: #CDA274;
}

.checkbox:not(:checked)+label::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: calc(50% - 10px);
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #CDA274;
}

.checkbox:not(:checked)+label::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    transition: all .2s ease;
    opacity: 0;
    left: 4px;
    top: calc(50% - 6px);
    background-color: #CDA274;
}

.contact__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
    margin-top: 80px;
}

.contact__info {
    flex-basis: 350px;
    background-color: #F4F0EC;
    border-radius: 50px;
    padding: 76px 32px;
    box-sizing: border-box;
}

.contact__form {
    flex-grow: 1;
}

.contact__form .contact-form {
    margin-top: 0;
}

.contact-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 47px;
}

.contact-list__item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.contact-list__item:last-child {
    margin-bottom: 0;
}

.contact-list__item::before {
    content: '';
    display: block;
    width: 52px;
    height: 52px;
    background-size: cover;
}

.contact-list__email::before {
    background-image: url(../img/circle-email.svg);
}

.contact-list__tel::before {
    background-image: url(../img/circle-tel.svg);
}

.contact-list__website::before {
    background-image: url(../img/circle-website.svg);
}

.contact-list__link {
    font-size: 20px;
    color: #4D5053;
    text-decoration: none;
    transition: .2s;
}

.contact-list__link:hover {
    color: #CDA274
}


.content {
    display: grid;
    grid-template-columns: 1fr 345px;
    gap: 52px;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #4D5053;
}

.footer__info {
    display: flex;
    align-items: center;
    gap: 90px;
}

.footer__info a {
    color: #4D5053;
    text-decoration: none;
}

/* Modal */

.overlay {
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    transition: .3s;
}

.modal-search,
.modal {
    background-color: #FFFFFF;
    padding-top: 47px;
    padding-bottom: 47px;
}

.modal {
    position: relative;
}

.modal-search__content {
    display: flex;
    align-items: center;
    gap: 38px;
}

.modal .header__nav {
    flex-direction: column;
    margin: 0;
}

.modal .header__item {
    margin-left: 0;
    margin-bottom: 10px;
}

.modal .header__item:last-child {
    margin-bottom: 0;
}

.modal-search__input {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid #000000;
    padding: 13px 0;
    transition: .3s;
}

.modal-search__input:focus {
    outline: none;
    border-bottom-color: #CDA274;
}

.modal-search__input::placeholder {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4d5053;
}

.modal-search__btn {
    cursor: pointer;
    background-image: url(../img/arrow-btn.svg);
    background-size: 6px 14px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    display: block;
    border-radius: 100%;
    border: 1px solid #CDA274;
    width: 52px;
    height: 52px;
}

.modal-search__close,
.modal__close {
    cursor: pointer;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    display: block;
    width: 22px;
    height: 22px;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
}

/* Media */

@media (max-width: 1200px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 900px;
    }

    .title {
        font-size: 40px;
    }

    .swiper-feedback .title {
        max-width: 350px;
        margin: 0 auto;
    }

    .btn-primary {
        font-size: 16px;
    }

    .about {
        gap: 5%;
    }

    .about__text {
        flex-basis: 45%;
    }

    .about__thumb {
        flex-basis: 50%;
        border-radius: 0 clamp(100px, 20vw, 326px) 0px clamp(50px, 7vw, 123px);
    }

    .about-phone__icon {
        width: 74px;
        height: 74px;
    }

    .about-phone__text>p:first-child {
        font-weight: 700;
        font-size: 20px;
    }

    .swiper-feedback__slide {
        padding: 88px 150px 90px;
    }

    .swiper-feedback__text {
        font-size: 25px;
    }

    .swiper-feedback__author {
        font-size: 20px;
    }

    .swiper-feedback__next {
        right: 50px;
    }

    .swiper-feedback__prev {
        left: 50px;
    }


    .contact__box {
        margin-top: 80px;
        flex-direction: column-reverse;
    }

    .contact__info,
    .contact__form {
        flex-basis: auto;
        width: 100%;
    }

    .contact-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-list__item {
        margin-bottom: 0;
        justify-self: center;
    }

    .contact-list__item::before {
        width: 44px;
        height: 44px;
    }

    .contact-list__link {
        font-size: 16px;
    }

    .contact__box .post__social {
        justify-content: center;
    }

    .error {
        padding-top: 80px;
        padding-bottom: 150px;
    }

    .error__title {
        font-size: 200px;
    }

    .error__text {
        font-size: 30px;
        max-width: 450px;
    }

    .error__bg {
        width: 40vw;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .brands {
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .footer__info {
        display: grid;
        grid-template-columns: 1fr 170px;
        grid-template-rows: repeat(2, auto);
        align-items: start;
        gap: 0px 50px;
    }

    .footer__address {
        grid-row: 1 / 3;
        margin: 0;
    }

    .footer__info a {
        text-align: right;
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 600px;
    }

    .page {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .logo img {
        height: 36px;
    }

    .header__item {
        margin-left: 30px;
    }

    .header__link {
        font-size: 18px;
    }


    .hero {
        height: calc(100vh - 131px);
        margin-bottom: 120px;
    }

    .hero__title {
        font-size: 75px;
    }

    .hero__title,
    .hero__text {
        max-width: 570px;
    }

    .about {
        gap: 50px;
    }

    .about {
        flex-direction: column;
        gap: 75px;
    }

    .about__text,
    .about__thumb {
        flex-basis: auto;
    }

    .about__thumb {
        width: 100%;
        height: 50vw;
    }

    .swiper-feedback {
        margin-top: 120px;
    }

    .swiper-feedback__slide {
        padding: 50px;
    }

    .swiper-feedback__text {
        padding-left: 60px;
        padding-right: 60px;
    }

    .swiper-feedback__next {
        right: 30px;
    }

    .swiper-feedback__prev {
        left: 30px;
    }

    .stats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .stats__item:nth-child(2):after {
        display: none;
    }

    .articles {
        gap: 25px;
    }

    .articles__item,
    .article-main__item {
        padding: 20px 20px 33px 20px
    }

    .contact-list__item {
        display: inherit;
        gap: 8px;
    }

    .contact-list__item::before {
        margin: 0 auto;
    }

    .contact__info {
        padding: 40px 20px;
    }

    .error {
        padding-top: 70px;
        padding-bottom: 100px;
    }

    .error__title {
        font-size: 140px;
        margin-bottom: -8px;
    }

    .error__text {
        font-size: 21px;
        max-width: 300px;
    }

    .articles {
        grid-template-columns: 1fr;
    }

    .footer {
        align-items: start;
    }

    .footer__info {
        grid-template-columns: 1fr;
    }

    .footer__address {
        text-align: right;
    }

    .footer__info {
        gap: 16px;
    }
}

@media(max-width: 600px) {
    .title {
        font-size: 30px;
    }

    .header {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .header__menu {
        display: block;
    }

    .header>nav {
        display: none;
    }

    .hero {
        height: calc(100vh - 96px);
        border-radius: 0 0 0 40vw;
    }

    .hero__title {
        font-size: 13vw;
    }

    .stat {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .swiper-feedback .title {
        max-width: 250px;
    }

    .swiper-feedback__slide {
        padding: 50px 10px;
    }

    .swiper-feedback__text {
        font-size: 20px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
    }

    .swiper-feedback__author {
        font-size: 14px;
    }

    .swiper-feedback__next,
    .swiper-feedback__prev {
        bottom: 40px;
        top: inherit;
        background-color: #f4f0ec;
    }

    .swiper-feedback__next {
        right: 20px;
    }

    .swiper-feedback__prev {
        left: 20px;
    }

    .contact-form {
        grid-template-columns: 1fr;
    }

    .contact-form__input,
    .contact-form__textarea {
        font-size: 18px;
    }

    .contact-form__textarea,
    .contact-form__btn,
    .contact-form__checkbox {
        grid-column: 1 / 2;
    }

    .contact-list {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .contact-list__item {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 15px;
    }

    .contact-list__link {
        flex-grow: 1;
    }

    .contact__box .post__social {
        justify-content: start;
    }

    .checkbox:checked+label::before {
        top: 4px;
    }

    .checkbox:checked+label::after {
        top: 8px;
    }

    .checkbox:not(:checked)+label::before {
        top: 4px;
    }

    .checkbox:not(:checked)+label::after {
        top: 8px;
    }
}

@media(max-width: 500px) {
    .stats {
        grid-template-columns: 1fr;
    }

    .stats__item {
        border-bottom: 1px solid #CDA274;
    }

    .stats__item:last-child {
        border-bottom: none;
    }

    .stats__item::after {
        display: none;
    }

    .subscribe {
        padding: 50px 20px;
    }

    .subscribe-box {
        flex-direction: column;
        gap: 20px;
    }

    .subscribe-box__input {
        flex-basis: auto;
        width: 100%;
        box-sizing: border-box;
        border-radius: 18px;
    }

    .subscribe-box__btn {
        flex-basis: auto;
        width: 100%;
        max-width: 200px;
        border-radius: 18px;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer__address,
    .footer__info a {
        text-align: center;
    }

    .page {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

@media(max-width: 375px) {
    .swiper-feedback__text {
        padding-left: 20px;
        padding-right: 20px;
    }

    .brands {
        flex-direction: column;
        gap: 30px;
    }
}